
body{
    background-color: #222831 !important;
    color: #eeeeee !important;
    font-family: Arial,sans-serif;
    font-size: 14px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    background-color: #393e46;
    text-align: center;
  }

#drop_zone {
    min-height: 500px;
    margin: auto;
    margin-top: 19px;
    width: 100% !important;
}

#preview_zone {
    min-height: 400px;
    margin: auto;
    margin-top: 0px;
}

.wrap1{
    position: relative;
    text-align: center;
    display: inline-block;
}

.wrap2{
    position: relative;
    top: 50%;
}

.example_gallery{
    width: 100%;
    overflow: hidden;
}

.center_div {
    margin: auto;
}

#start{
    width: 100% !important;
}

.imbox {
    background-image: url("art1.jpg");
    display: grid;
    width: 110%;
    height: 110%;
    background-size: cover;
    background-repeat: no-repeat;

    position:absolute;
    left: -5%;
    top: -30%;
    right: -5%;
    bottom: -5%;
}

.wrap_imbox{
    height: 50vh;
    margin-bottom: 23px;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
}

.heading{
    position: absolute;
    float: left;
    bottom: 40%;
    left: 50%;
    color: #222831;
}

.head_jumbo{
    font-size: 24px;
    margin-bottom: 20px;
    color: #222831;
}

.text_jumbo{
    font-size: 14px;
    margin: 0;
}

.example_element{
    display: inline-block;
    padding: 20px 20px 20px 20px;
    position: relative;
}

.example_element_inner{
    position: inherit;
    align-content: center;
    top: 50%;
    padding: 10px 20px 40px 10px;


}

#cont_title{
    background-color: #222831;
    text-align: left;
}

.gallery_heading{
    background-color: #222831;
    text-align: center;
    padding-top: 150px;
}

img {
    border: #222831 solid 5px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    height: auto;
    -webkit-user-drag: none;
}

#buttons{
    padding-top: 40px;
    visibility: hidden;
}

button{
    display: inline-block !important;
    background-color:  #393e46;
    margin: auto !important;
}

#drop_in {
    margin: top;
}

#select{
    padding: 0px !important;
    width: 100%;
    display: block;
}

textarea{
    width: 80%;
    height: auto;
    resize: none;
    visibility: hidden;
}

input{
    width: 100%;
    height: auto;
}

#dropP{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    bottom: 0;
    margin: 0px;
    bottom: 10px;
}

#he{
    padding-left: 20px;
}


.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }


a.button2{
    display:block; 
    margin:0.4em auto;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    user-select: none;
}
a.button2:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}
a.button2:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

#footer{
    width: 100%;
    background-color: #d65a31;
    text-align: center;
}

@media all and (min-width: 600px){
    a.button2{
        display:inline-block; margin:0 0.3em 0.3em 0;
    }

    .container{
        width: 50%;
    }

    .wrap_imbox{
        height: 78vh;
    }

    .text_jumbo{
        font-size: 24px;
    }

    .head_jumbo{
        font-size: 60px;
    }
}


#code{
    text-align: left;
}

#source{
    color: #eeeeee;
    
}

#source:hover{
    color: #BBBBBB;
}